*{ box-sizing: border-box;}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jogo {
    height: 550px;
    display: flex;
}

.jogo img {
    width: 400px;
    height: 466px;
    border: 1px solid black;
}
.proprietisimg {
    width: 50vw;
}
.proprieties {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

.buttons {
    
    align-items: center;
    justify-content: center;

    width: 800px;
    border: 12px;
}
.buttons button {
    width: 40px;
    height: 40px;
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}

.button {
    margin: 10px;
}

.hangman img {
    width: 400px;
    height: 466.67px;
    /* background: url(./assets/img/forca0.png); */

}
.word {
    font-family: Noto Sans;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 323px;
    height: 68px;
}
 p {
    width: inherit;
 }

.restart button {
    width: 200px;
    height: 60px;
    background: #27AE60;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
